*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
nav{
    width: 100%;
    display: flex;
    background-color: #414141;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px;
    transition: all 1s ease-in-out;
}

nav:hover{
    transition: all 1s ease-in-out;
    height: auto;
}

nav ul{
    display: flex;
    width: 100%;
    color: white;
    list-style-type: none;
    font-size: 25px;
    
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 33%;
    text-decoration: none;
    transition: all 1s;
    height: 100%;
    height: 50px;
}

nav a:hover{
    background-color: white;
    color: #414141;
}